// 背景色
$bgPrimary: #506b9e;
$bgWhite: #fff;
$bgGrey: #f4f4f4;
$bgSuccess: #41B883;
$bgError: #DE5145;

//文字色
$fontPrimary: #506b9e;
$fontWhite: #fff;
$fontBlack: #000;
$fontGrey: #ccc;
$fontSuccess: #41B883;
$fontError: #DE5145;

